extends base

block content
    p JSON Endpoints
    ul
        li: a(href='/json') /json
        li: a(href='/json/competitions') /json/competitions
        li: a(href='/json/events') /json/events
        li: a(href='/json/participants') /json/participants
