nav: p
    ul.nav.nav-pills.nav-justified
        li: a(href='/')
            span.glyphicon.glyphicon-home &nbsp;
            | LASSOS Home
        li: a(href='/admin')
            span.glyphicon.glyphicon-cog &nbsp;
            | Admin
        li: a(href='/tech')
            span.glyphicon.glyphicon-wrench &nbsp;
            | Tech
