extends base

block content
    ul
        li Django (Python web framework)
            ul
                li Python
                li SQLite database
                li Web server
                li JSON serialization
        li Jade (Template engine)
        li Bootstrap (CSS framework)
            ul
                li Sass preprocessor
