extends base

block content
    ul
        li Django (Python web framework)
            ul
                li Python
                li MySQL database
                li Web server
        li Jade (Template engine)
        li Bootstrap (CSS framework)
            ul
                li Sass preprocessor
